.users_section {
  margin-bottom: 150px;
}

.users_main {
  background-color: hsl(207, 100%, 98%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -5px;
  padding: 0 120px 0 120px;
}

.users_img {
  width: 515px;
}

.users_text {
  color: hsl(192, 100%, 9%);
  width: 50%;
}

.users_text h1 {
  margin: 0;
  font-size: 45px;
}

.users_text p {
  font-size: 18px;
  line-height: 1.8rem;
  margin: 0;
  margin-top: 25px;
}

.users_bg {
  width: 100%;
}

@media only screen and (max-width: 1280px) {
  .users_text {
    width: 45%;
  }
}

@media only screen and (max-width: 800px) {
  .users_section {
    margin-bottom: 130px;
  }

  .users_main {
    padding: 0 80px 0 80px;
    padding-bottom: 30px;
  }

  .users_img {
    width: 50%;
  }

  .users_text {
    width: 280px;
  }

  .users_text h1 {
    font-size: 35px;
  }

  .users_text p {
    font-size: 15px;
    line-height: 1.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .users_section {
    margin-bottom: 110px;
  }

  .users_main {
    padding: 0 40px 0 40px;
    padding-bottom: 20px;
  }

  .users_img {
    width: 50%;
  }

  .users_text {
    width: 230px;
  }

  .users_text h1 {
    font-size: 25px;
  }

  .users_text p {
    font-size: 14px;
    line-height: 1.4rem;
    margin-top: 18px;
  }
}

@media only screen and (max-width: 414px) {
  .users_section {
    margin-bottom: 70px;
  }

  .users_main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: -7px;
    padding: 0;
  }

  .users_img {
    width: 300px;
    margin-top: 60px;
  }

  .users_text {
    width: 85%;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 60px;
  }

  .users_text h1 {
    font-size: 21px;
  }

  .users_text p {
    font-size: 14px;
    margin-top: 18px;
  }
}
